


body{
  font-size: 14px;
}

nav {
  background-color: #FFFF00;
  height: 100px;
  width: 100%;
} /*Here I added a squiggly bracket to close the nav style, and removed hidden so the text below appears*/

section {
  margin: 0 auto;
  width: 60%;
}

h1 {
  font-family: sans-serif;
  font-size: 2em;
	text-align: center;
}

h3 {
  padding-top: 50px;
  text-align: center;
	font-size: 1.3em;
}

.example {
  padding-top: 25px;
  text-align: center;
}

.element1 {
  background-color: #FFC0CB }

	/* Here I changed the backround color to pink*/

 /*Here I added a squiggly bracket to close the element*/
